@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');


@import './reset.css';
@import './animation.css';
@import './svg.css';


* {
    font-family: 'Kanit', sans-serif;
}





html, body {
    background-color: #F6F6F6;
}

.bg-base {
    background-color: #F6F6F6;
}

.font_logo {
    font-family: 'Space Grotesk', sans-serif;
}


input[name="search"] {  
    font-family: 'Kanit', sans-serif !important;
}

input[name="search"]::placeholder {
    color: #9c9c9c;
}

input[name="base"]::placeholder {
    color: #B5B5B5;
    font-weight: 400;
    letter-spacing: 0.4px;
}


/* For use only at the point that you want to change */
.font_kanit {
    font-family: 'kanit', sans-serif !important;
}

.font_league_spartan {
    font-family: 'League Spartan', sans-serif !important;
}

.custom_scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
    display: none;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
    background-color: #B5B5B5;
    border-radius: 10px;
    display: none;
}


.custom_scrollbar:hover::-webkit-scrollbar-thumb, 
.custom_scrollbar:hover::-webkit-scrollbar {
    display: block;
}


.custom_scrollbar_show::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

.custom_scrollbar_show::-webkit-scrollbar-thumb {
    background-color: #B5B5B5;
    border-radius: 10px;
}


.custom_scrollbar_show:hover::-webkit-scrollbar-thumb, 
.custom_scrollbar_show:hover::-webkit-scrollbar {
    display: block;
}